/* emp-add-edit.component.scss */
.hidden {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.form-container {
  min-height: 400px;
  width: 600px; /* Adjust the height to suit your layout */
}

.row {
  display: flex;
  gap: 10px;
}

mat-form-field {
  width: 100%;
}

.action {
  padding: 0px 25px 20px;
  button {
    flex: 1;
  }
}
