<div mat-dialog-title>
  <h1>Contact Form</h1>
</div>

<form [formGroup]="contactForm" (ngSubmit)="onFormSubmit()" class="form-container">
  <div mat-dialog-content class="content">
    <!-- Prénom et Nom -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Prénom</mat-label>
        <input matInput type="text" formControlName="prenom" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom" />
      </mat-form-field>
    </div>

    <!-- Email et Identifiant -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Identifiant</mat-label>
        <input matInput type="number" formControlName="identifiant" />
      </mat-form-field>
    </div>

    <!-- Type de contact -->
    <div class="row">
      <mat-radio-group aria-label="Sélectionner un type" formControlName="type">
        <mat-label><b>Type</b></mat-label>
        <mat-radio-button value="physique">Physique</mat-radio-button>
        <mat-radio-button value="moral">Moral</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Numéro de téléphone et Type de contact -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Numéro de téléphone</mat-label>
        <input matInput formControlName="num" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Type de contact</mat-label>
        <mat-select formControlName="type_c" (selectionChange)="onTypeCChange()">
          <mat-option *ngFor="let val of Type" [value]="val">{{ val }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Champs supplémentaires pour "Prospect" -->
    <div [ngClass]="{ 'hidden': !showProspectFields }" class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Etat</mat-label>
        <mat-select formControlName="etat" (selectionChange)="onTypeCChange()">
          <mat-option *ngFor="let etat of etatProspect" [value]="etat">{{ etat }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Date de la dernière interaction</mat-label>
        <input matInput type="date" formControlName="dateDernierInteraction" />
      </mat-form-field>
    </div>

    <div [ngClass]="{ 'hidden': !showProspectFields }" class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Détails de la dernière interaction</mat-label>
        <textarea matInput formControlName="detailsDernierInteraction"></textarea>
      </mat-form-field>
    </div>

    <div [ngClass]="{ 'hidden': !showProjectFieldForProspect }" class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Nom du Projet</mat-label>
        <input matInput formControlName="nom_projet" />
      </mat-form-field>
    </div>

    <div [ngClass]="{ 'hidden': !showProjectDescFieldForProspect }" class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Description du Projet</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
    </div>

    <!-- Champs supplémentaires pour "Client" -->
    <div [ngClass]="{ 'hidden': !showClientFields }" class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Date de la dernière interaction</mat-label>
        <input matInput type="date" formControlName="dateDernierInteraction" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Détails de la dernière interaction</mat-label>
        <textarea matInput formControlName="detailsDernierInteraction"></textarea>
      </mat-form-field>
    </div>

    <div [ngClass]="{ 'hidden': !showProjectFieldsForClient }" class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Nom du projet</mat-label>
        <input matInput formControlName="nom_projet" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Description du projet</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
    </div>

    <div [ngClass]="{ 'hidden': !showProjectFieldsForClient }" class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Date de création du projet</mat-label>
        <input matInput type="date" formControlName="dateCreationProjet" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Statut du projet</mat-label>
        <mat-select formControlName="statut">
          <mat-option *ngFor="let statut of statutProjet" [value]="statut">{{ statut }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Adresse et Pays -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Adresse</mat-label>
        <input matInput type="text" formControlName="adresse" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Pays</mat-label>
        <input matInput formControlName="pays" />
      </mat-form-field>
    </div>
  </div>

  <!-- Footer du Formulaire -->
  <div mat-dialog-actions>
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Enregistrer</button>
  </div>
</form>
