:root {
  --primary2-color: #6f90a5;
}




.login-card {
  background: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10% 12% 10% 12%;
  width: 21vw;
  height: auto;
  max-width: 700px;
  max-height: auto;
  transition: all 0.3s ease;
  box-shadow: -1px 2px 15px rgba(0, 0, 0, 0.18);
  
  /* Centrer tout le contenu de la carte */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; /* Centrer le texte */
 gap: -100px;
}

/* Titre */
.title {
  font-size: 1.32rem;
  font-weight: bold;
  font-family: 'Luckiest Guy', sans-serif;
  letter-spacing: 2px; /* Espacement entre les lettres basé sur la largeur de la fenêtre */
  color: #6f90a5;
  text-transform: uppercase;
}

/* Ligne sous le titre */
.title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: var(--primary2-color);
  margin: 8px auto; /* Centrer la ligne sous le titre */

  margin-bottom: -15px ;
}

/* Champs d'entrée avec labels flottants */
.input-container {
  position: relative;
  margin: 33px 0;
}

.input-container input {
  width: 100%;
  padding: 5px 0;
  border: none;
  border-bottom: 2px solid var(--primary2-color);
  background: transparent;
  outline: none;
  color: #333;
}

.input-container label {
  position: absolute;
  top: 1px;
  left: 0;
  color: #3b3b3b;
  font-size: 1rem;
  transition: 0.3s ease all;
  pointer-events: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500 ;

}

.input-container input:focus~label,
.input-container input:valid~label {
  top: -15px;
  font-size: 0.875rem;
  color: #5e7a8c;
  font-family: "Roboto", sans-serif;

}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #5e7a8c;
  transition: 0.3s ease;
}

.input-container input:focus~.underline {
  width: 100%;
}

/* Bouton */
.btn {
  background-color: #80acc7 ;
  border: none;
  border-radius: 20px;
  padding: 1.05vh 0;
  width: 100%;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.btn:hover {
  background-color: #4a6b7c;
}

/* Style d'erreur */
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Champ invalide */
.input-container input.invalid~.underline {
  background: red;
}

input.invalid:focus~label {
  color: red;
}

/* Bouton désactivé */
.btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}