
    <div class="login-card " >
      <h2 class="title">se connecter</h2>
      <form>
        <!-- Champ Nom -->
        <div class="input-container">
          <input type="text" id="name" required />
          <label for="name">Nom</label>
          <span class="underline"></span>
        </div>

        <!-- Champ Email -->
        <div class="input-container">
          <input type="email" id="email" required />
          <label for="email">Email</label>
          <span class="underline"></span>
        </div>

        <!-- Champ Mot de passe -->
        <div class="input-container">
          <input type="password" id="password" required />
          <label for="password">Password</label>
          <span class="underline"></span>
        </div>

        <!-- Bouton -->
        <button type="submit" class="btn">Commencer</button>
      </form>
    </div>

