<h2 mat-dialog-title>Détails du Contact</h2>
<mat-dialog-content>
  <ng-container *ngIf="displayedData">
    <!-- Informations générales -->
    <p><strong>Prénom:</strong> {{ displayedData.prenom }}</p>
    <p><strong>Nom:</strong> {{ displayedData.nom }}</p>
    <p><strong>Email:</strong> {{ displayedData.email }}</p>
    <p><strong>Identifiant:</strong> {{ displayedData.identifiant }}</p>
    <p><strong>Type:</strong> {{ displayedData.type }}</p>
    <p><strong>Numéro:</strong> {{ displayedData.num }}</p>
    <p><strong>Type Contact:</strong> {{ displayedData.type_c }}</p>
    <p><strong>Adresse:</strong> {{ displayedData.adresse }}</p>
    <p><strong>Pays:</strong> {{ displayedData.pays }}</p>

    <!-- Section pour les prospects -->
    <ng-container *ngIf="displayedData.etat">
      <p><strong>État:</strong> {{ displayedData.etat }}</p>
      <p><strong>Date de la dernière interaction:</strong> {{ displayedData.derniereInteractionDate }}</p>
      <p><strong>Détails de la dernière interaction:</strong> {{ displayedData.derniereInteractionDetails }}</p>
    </ng-container>

    <!-- Section pour les prospects intéressés ou en négociation -->
    <ng-container *ngIf="displayedData.projetNom">
      <p><strong>Nom du projet:</strong> {{ displayedData.projetNom }}</p>
      <p><strong>Description du projet:</strong> {{ displayedData.projetDescription }}</p>
    </ng-container>

    <!-- Section pour les clients -->
    <ng-container *ngIf="displayedData.statut">
      <p><strong>Statut:</strong> {{ displayedData.statut }}</p>
      <p><strong>Date de création du projet:</strong> {{ displayedData.projetDateCreation }}</p>
      <p><strong>Statut du projet:</strong> {{ displayedData.projetStatut }}</p>
    </ng-container>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
