<section class="vh-50" style="z-index: 1;">
  <div>
    <h1 class="responsive-text">SIGN I<span class="no-spacing responsive-text">N</span></h1>

  </div>

  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xxl-11 col-xl-10 col-lg-11 col-md-11">


        <!-- Design X : Écrans supérieurs à 900px -->



        <div class="card d-none d-lg-block " style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-lg-6 d-flex h-100 round" style="background-color: #F97404;">
              <img src="assets/tofla.png" class="img-fluid" style="z-index: 1; width: 78%; height: auto;" />
              <div class="position-absolute top-0 start-0 w-50 h-100 round"
                style="background: rgba(220, 90, 84, 0.85); z-index: 2;"></div>
            </div>

            <div class="col-lg-6 d-flex justify-content-center align-items-center position-relative">
              <img src="assets/design.png" class="img-fluid position-absolute"
                style="right: 0; height: 75%; width: auto; z-index: 3;" />
            </div>

            <!-- Centering app-login -->
            <div class="position-absolute d-flex  align-items-center justify-content-center h-100 "
              style="z-index: 4;">
              <div  >        
                       <app-login></app-login>

              </div>
            </div>


          </div>


        </div>






        <!-- Design Z : Écrans inférieurs à 500px -->
        <div class="d-block d-md-none">
          <div class="row">
            <div class="col-12">
              <h1 class="display-4">Design Z (Écrans inférieurs à 500px)</h1>
              <p>Ce contenu est affiché uniquement sur les petits écrans.</p>
              <!-- Vous pouvez ici ajouter des éléments spécifiques à ce design Z -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>